
/**
  ██╗███╗   ███╗██████╗  ██████╗ ██████╗ ████████╗ █████╗ ███╗   ██╗████████╗
  ██║████╗ ████║██╔══██╗██╔═══██╗██╔══██╗╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
  ██║██╔████╔██║██████╔╝██║   ██║██████╔╝   ██║   ███████║██╔██╗ ██║   ██║   
  ██║██║╚██╔╝██║██╔═══╝ ██║   ██║██╔══██╗   ██║   ██╔══██║██║╚██╗██║   ██║   
  ██║██║ ╚═╝ ██║██║     ╚██████╔╝██║  ██║   ██║   ██║  ██║██║ ╚████║   ██║   
  ╚═╝╚═╝     ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   

 ********How to search for style*********************************************
  - The definitions scales down from container to contained components.
  ********And rules of style creation*****************************************
  - May seem obvious but mobile-first: media-queries are only used in @min-x
    form.
  - Same-level definitions must be declared and adjusted Z-index.
 */
* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #EDF1F4;
  color: #153D66;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  justify-content: center;
  min-height: 100vh;
}

.main-container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // dimensions of this container changes on media width growt 
  // from all-to-all to central place.
  // @to_do create test to see on screen all child components of
  // main-container
  height: 100vh;
  width: 100vw; 
  overflow: hidden;
  @media (min-width: 600px) {
    width: 500px;
    overflow-y: visible;
  }
}

.form-header {
  padding: 1.75rem 1.75rem 0;
}

.form-body {
  padding: 1.75rem;
}

label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

input {
  border-radius: 4px;
  border: 1px solid #A4B6C0;
  box-shadow: none;
  display: block;
  margin-bottom: 16px;
  padding: 10px;
  width: 100%;
}

button:hover,
input:focus {
  border-color: rgb(0, 117, 212);
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
  outline: none;
}

button {
  -webkit-appearance: none;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 1.75rem auto 0;
  padding: 12px 20px;
  &:disabled {
    background-color: #000;
  }
}

.btn-success {
  background-color: #A6E9DC;
  color: #004C4A;
}

.btn-warning {
  background-color: rgb(233, 182, 166);
  color: rgb(76, 18, 0);
}

.pill-container {
  text-align: center;
}

.state-pill {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  display: inline-block;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 12px 20px;
  text-align: center;
  width: auto;
}

.alert {
  border-radius: 4px;
  margin-top: 12px;
  margin: 12px auto 0;
  padding: 8px 12px;
  text-align: center;
  width: 85%;
}

.alert.error {
  border: 1px solid #ebcccc;
  color: #a94442;
  background-color: #f2dede;
}

.alert.success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

h1{
  margin: 20;
}

h2 {
  margin: 0;
  text-align: center;
}
